/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #B3D4FC;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCCCCC;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #CCCCCC;
    color: #000000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ==========================================================================

   COLORS:
    #000000 Black
	#3DA8C5 Basic Blue
	#DDEFF4 Light Blue Link
	#777777 Grey (Shadow)
*/


/* MAIN BODY SETTINGS COVERING POSTS AND SITES
============================================================================*/

#main-body {
    font-family: 'Roboto Condensed', monospace;
    margin: 0px;
    padding: 0px;
    font-size: 110%;
    overflow-x: hidden;
}

#main-body code {
    font-size: 100%;
}

#main-body p {
    margin: 10px 0px 10px 0px;
    padding: 0px;
}

#main-body a {
    color: #000000;
    text-decoration: none;
    border-bottom: 2px solid #dddddd;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

#main-body a.reversefootnote {
    border-bottom: none;
}

#site-footer a {
    border-bottom: none;
}

#main-body a.footnote {
    font-style: normal;
    margin: 0em 0.4em 0em 0.4em;
    padding: 0.2em 0.5em 0.2em 0.5em;
    font-size: 75%;
    border-radius: 1.2em;
    background-color: #DDEFF4;
    border-bottom: none;
}

#main-body a.footnote:hover {
    background-color: #3DA8C5;
    color: #FFFFFF;
}

#main-body h1 {
    font-weight: bold;
    margin: 20px 0px 0px 0px;
    font-size: 130%;

}

#main-body h2 {
    font-weight: bold;
    margin: 15px 0px 0px 0px;
    font-size: 110%;
}

#main-body h3, h4, h5 {
    font-weight: bold;
    margin: 10px 0px 0px 0px;
    font-size: 100%;
}

#main-body .highlighter-rouge {
    background: #EEEEEE;
}

#main-body sup {
    vertical-align: text-top;
}

#post-content blockquote {
    margin: 0.5em 0em 0.5em 0em;
    text-align: center;
}

#post-content blockquote p {
    margin-right: auto;
    text-align: left;
    font-size: 95%;
    width: 75%;
    font-style: italic;
}

#main-body table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#main-body th, td {
    padding: 0em 1.4em 0em 0em;
    border-bottom: 1px solid #CCCCCC;
}

#main-body td a {
    border-bottom: none;
}


#main-body th {
    font-weight: normal;
    text-align: left;
    background-color: #DDEFF4;
}

#main-body .image {
    display:block;
    border: 1px solid #CCCCCC;
    box-shadow: 0 3px 5px 0px #CCCCCC;
    width: 100%;
    max-width: 1280px;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    margin-left: auto;
    margin-right: auto;
}

#main-body .imagedesc {
    text-align: center;
    margin: auto;
    font-size: 80%;
}

#main-body .image-noborder {
    border: none;
    box-shadow: none;
}

.iframes {
    margin-top: 0.8em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    border: none;
}

/* BLOG LIST
============================================================================*/

#site-archive-nav {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#site-archive-nav a {
    margin: 0px;
    padding: 2px;
    background-color: #CCCCCC;
    color: #FFFFFF;
    border-bottom: none;
}


#bloglist * {
    border: none;
    padding: 0px;
    margin: 0px;
}

#bloglist .blogref {
    text-align: left;
    /*border: 1px solid red;*/
    font-size: 90%;
    padding-right: 10px;
}

#bloglist .blogref-draft a {
    color: #AAA !important;
}

#bloglist .blogref a {
    border-bottom: none;
}

#bloglist .blogdate {
    padding-top: 0.1em;
    padding-left: 10px;
    padding-right: 1em;
    font-size: 80%;
    color: #555;
}

/* SITE DEFAULTS (CURRENTLY INDEX PAGE ONLY)
============================================================================*/

#site-header {
    position: relative;
    margin: 0px;
    padding: 15px 0px 0px 0px;
    text-align: center;
}

#site-header p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 200%;
    color: #3DA8C5;
    margin: 0.1em 0em 0.1em 0em;
}

#site-logo {
    width: 45px;
}

#site-avatar {
    box-shadow: 0 6px 25px -3px #777777;
    margin-top: 5px;
}

#site-content {
    text-align: center;
    padding: 5px 0px 10px 0px;
}

#site-bloglist {
    text-align: center;
}

#site-blogicon {
    padding: 0px 0px 5px 0px;
}

#site-blogicon a {
    border-bottom: none;
}

/* POST DEFAULTS
============================================================================*/

#post-header {
    width: 100%;
    padding: 5px 0px 5px 0px;
    background-color: #3DA8C5;
    color: #FFFFFF;
    /* box-shadow: 0 3px 25px -3px #AAAAAA; */
}

div#post-header-title {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#post-header-headline {
    margin: 0px;
    display: inline-block;
}

h1#post-header-headline {
    background-color: #3DA8C5;
    margin: 7px 10px 10px 10px;
}

div#post-header-meta {
    width: 100%;
    text-align: center;
}

#post-content {
    margin: auto;
    padding: 10px 10px 10px 10px;
    max-width: 40em;
}

#post-content .footnotes {
    margin: 0px;
    padding: 0px;
}

#post-content .footnotes ol {
    padding-left: 1.3em;
    margin: 0px;
}

#post-content .footnotes ol p {
    margin: 0px 0px 2px 0px;
}

/* TABLE OF CONTENT
============================================================================*/

#table-of-content::-webkit-scrollbar {
    display: none;
}

#table-of-content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    height: 100%;
    max-width: 80%;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
}

.section-nav {
    margin: 0px;
    padding: 10px 10px 10px 10px;
}
.section-nav * {
    list-style-type: none;
    list-style-position: outside;
}

/* POST HEADER BAR BUTTONS W/ TRANSITIONS
============================================================================*/

div#post-header-buttonbar {
    position: fixed;
    text-align: center;
    bottom: 0.4em;
    right: 0.5em;
    z-index: 999;
}

i.button {
    padding: 0.2em;
    transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    box-shadow: 0 3px 5px 0px #AAAAAA;
}

div#back-container {
    display: inline-block;
    font-size: 1.6em;
    background-color: transparent;
}

div#back-container a {
    background-color: transparent;
    box-shadow: none;
    border-bottom: none;
}

div#back-container i {
    background-color: #3DA8C5;
    border-radius: 3em;
}

i#back-button {
    color: white;
}

i#back-button:hover {
    color: #3DA8C5;
    background-color: white;
}

div#twitter-container {
    display: inline-block;
    font-size: 1.6em;
    background-color: transparent;
}

div#twitter-container a {
    background-color: transparent;
    box-shadow: none;
    border-bottom: none;
}

div#twitter-container i {
    background-color: #3DA8C5;
    border-radius: 3em;
}

i#twitter-button {
    color: white;
}

i#twitter-button:hover {
    color: #3DA8C5;
    background-color: white;
}

div#toc-container {
    display: inline-block;
    font-size: 1.6em;
    background-color: transparent;
}

div#toc-container a {
    background-color: transparent;
    box-shadow: none;
}

div#toc-container i {
    background-color: #3DA8C5;
    border-radius: 3em;
}

i#toc-button {
    color: white;
}

i#toc-button:hover {
    color: #3DA8C5;
    background-color: white;
}


/* FOOTER
============================================================================*/

#site-footer hr {
    margin: 30px 0px 10px 0px;
}

#site-footer p {
    padding: 10px 0px 20px 0px;
    margin: 0px 0px 0px 10px;
    font-size: 80%;
    text-align: center;
}

#site-footer img {}

/* PREVIEW TAG
============================================================================*/

.preview-tag {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 5px 0px 5px 0px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
}

.preview-tag img {
    width: 20%;
    float: left;
    padding-top: 5px;
    margin-right: 10px;
}

.preview-tag-title {
    font-size: 80%;
}

.preview-tag a {
    border: none !important;
}

/* ROUGE CODE HIGHLIGHTING
============================================================================*/

.highlight .hll {
    background-color: #ffffcc
}

.highlight {
    background: #F3F3F3;
    margin: 0em;
    padding: 0.2em;
}

.highlight code {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.highlight .c {
    color: #408080;
    font-style: italic
}


/* Comment */

.highlight .err {
    border: 1px solid #FF0000
}


/* Error */

.highlight .k {
    color: #008000;
    font-weight: bold
}


/* Keyword */

.highlight .o {
    color: #666666
}


/* Operator */

.highlight .cm {
    color: #408080;
    font-style: italic
}


/* Comment.Multiline */

.highlight .cp {
    color: #BC7A00
}


/* Comment.Preproc */

.highlight .c1 {
    color: #408080;
    font-style: italic
}


/* Comment.Single */

.highlight .cs {
    color: #408080;
    font-style: italic
}


/* Comment.Special */

.highlight .gd {
    color: #A00000
}


/* Generic.Deleted */

.highlight .ge {
    font-style: italic
}


/* Generic.Emph */

.highlight .gr {
    color: #FF0000
}


/* Generic.Error */

.highlight .gh {
    color: #000080;
    font-weight: bold
}


/* Generic.Heading */

.highlight .gi {
    color: #00A000
}


/* Generic.Inserted */

.highlight .go {
    color: #808080
}


/* Generic.Output */

.highlight .gp {
    color: #000080;
    font-weight: bold
}


/* Generic.Prompt */

.highlight .gs {
    font-weight: bold
}


/* Generic.Strong */

.highlight .gu {
    color: #800080;
    font-weight: bold
}


/* Generic.Subheading */

.highlight .gt {
    color: #0040D0
}


/* Generic.Traceback */

.highlight .kc {
    color: #008000;
    font-weight: bold
}


/* Keyword.Constant */

.highlight .kd {
    color: #008000;
    font-weight: bold
}


/* Keyword.Declaration */

.highlight .kn {
    color: #008000;
    font-weight: bold
}


/* Keyword.Namespace */

.highlight .kp {
    color: #008000
}


/* Keyword.Pseudo */

.highlight .kr {
    color: #008000;
    font-weight: bold
}


/* Keyword.Reserved */

.highlight .kt {
    color: #B00040
}


/* Keyword.Type */

.highlight .m {
    color: #666666
}


/* Literal.Number */

.highlight .s {
    color: #BA2121
}


/* Literal.String */

.highlight .na {
    color: #7D9029
}


/* Name.Attribute */

.highlight .nb {
    color: #008000
}


/* Name.Builtin */

.highlight .nc {
    color: #0000FF;
    font-weight: bold
}


/* Name.Class */

.highlight .no {
    color: #880000
}


/* Name.Constant */

.highlight .nd {
    color: #AA22FF
}


/* Name.Decorator */

.highlight .ni {
    color: #999999;
    font-weight: bold
}


/* Name.Entity */

.highlight .ne {
    color: #D2413A;
    font-weight: bold
}


/* Name.Exception */

.highlight .nf {
    color: #0000FF
}


/* Name.Function */

.highlight .nl {
    color: #A0A000
}


/* Name.Label */

.highlight .nn {
    color: #0000FF;
    font-weight: bold
}


/* Name.Namespace */

.highlight .nt {
    color: #008000;
    font-weight: bold
}


/* Name.Tag */

.highlight .nv {
    color: #19177C
}


/* Name.Variable */

.highlight .ow {
    color: #AA22FF;
    font-weight: bold
}


/* Operator.Word */

.highlight .w {
    color: #bbbbbb
}


/* Text.Whitespace */

.highlight .mf {
    color: #666666
}


/* Literal.Number.Float */

.highlight .mh {
    color: #666666
}


/* Literal.Number.Hex */

.highlight .mi {
    color: #666666
}


/* Literal.Number.Integer */

.highlight .mo {
    color: #666666
}


/* Literal.Number.Oct */

.highlight .sb {
    color: #BA2121
}


/* Literal.String.Backtick */

.highlight .sc {
    color: #BA2121
}


/* Literal.String.Char */

.highlight .sd {
    color: #BA2121;
    font-style: italic
}


/* Literal.String.Doc */

.highlight .s2 {
    color: #BA2121
}


/* Literal.String.Double */

.highlight .se {
    color: #BB6622;
    font-weight: bold
}


/* Literal.String.Escape */

.highlight .sh {
    color: #BA2121
}


/* Literal.String.Heredoc */

.highlight .si {
    color: #BB6688;
    font-weight: bold
}


/* Literal.String.Interpol */

.highlight .sx {
    color: #008000
}


/* Literal.String.Other */

.highlight .sr {
    color: #BB6688
}


/* Literal.String.Regex */

.highlight .s1 {
    color: #BA2121
}


/* Literal.String.Single */

.highlight .ss {
    color: #19177C
}


/* Literal.String.Symbol */

.highlight .bp {
    color: #008000
}


/* Name.Builtin.Pseudo */

.highlight .vc {
    color: #19177C
}


/* Name.Variable.Class */

.highlight .vg {
    color: #19177C
}


/* Name.Variable.Global */

.highlight .vi {
    color: #19177C
}


/* Name.Variable.Instance */

.highlight .il {
    color: #666666
}


/* Literal.Number.Integer.Long */


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print, (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *:before, *:after, *:first-letter, *:first-line {
        background: transparent !important;
        color: #000000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
