<div id="div-{{ include.id }}" {% if include.height %}style="height: {{ include.height }}px; width: 100%; position: relative;" {% endif %} class="visualization-svg-div" >
    <svg id="svg-{{ include.id }}"></svg>
    <script src="{{ include.path }}svg.js" embedded="true" datapath="{{ include.path }}" svgid="svg-{{ include.id }}" divid="div-{{ include.id }}">
</script>
</div>
{% if include.fs %}{% if include.fslabel %}[{{ include.fslabel }}]({{ include.path }}){% else %}[Vollbild]({{ include.path }}){% endif %}{% endif %}{% if include.viewsource %} [Sourcecode]({{ include.path }}/svg.js){% endif %}
