<!DOCTYPE html>
<html>
{% include head.html %}

<body id="main-body">
{% include site-ext.html %}
<div id="site-header"><p>archive</p></div>
<div id="site-bloglist">
<div id="site-blogicon">
    <a href="{{ site.baseurl }}/">
    <i class="fa fa-home" aria-hidden="true"></i>
    </a>
</div>

<div id="bloglist">
{% for category in site.categories %}
{% capture category_name %}{{ category | first }}{% endcapture %}
    <h3 class="category-head">{{ category_name }}</h3>
    <table>
    {% for post in site.categories[category_name] %}
    {% include postrow.html %}
    {% endfor %}
    </table>
{% endfor %}
</div>

</div>
<script>
{% include script.js %}
</script>
</body>

</html>
