<!DOCTYPE html>
<html>
{% include head.html %}

<body id="main-body">
{% include site-ext.html %}
<div id="site-header"><p>localhost</p></div>

<div id="site-bloglist">
<div id="site-blogicon">
    <a href="{{ site.baseurl }}/archive">
    <i class="fa fa-archive" aria-hidden="true"></i>
    </a>
</div>

<div id="bloglist">
<h3 class="category-head">Latest notes</h3>
<table>
{% for post in site.posts limit:15 %}
{% include postrow.html %}
{% endfor %}
</table>
</div>


</div>
<script>
{% include script.js %}
</script>
</body>

</html>
