<!DOCTYPE html>
<html>
{% include head.html %}

<body id="main-body">
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<header id="post-header">

<div id="post-header-title">
    <div id="post-header-title">
    <h1 id="post-header-headline">{{ page.title }}</h1>
    </div>
    <div id="post-header-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%d.%m.%Y" }}</time></div>
</div>

<div id="post-header-buttonbar">

    <div id="back-container"><a href="{{ site.url }}">
    <i id="back-button" class="fa fa-long-arrow-left button" ></i></a>
    </div>

    {% if page.source %}
    <div id="source-container"><a href="{{ page.source }}">
    <i id="source-button" class="fa fa-code button" ></i></a>
    </div>{% endif %}

    {% if page.twitter %}
    <div id="twitter-container"><a href="{{ page.twitter }}">
    <i id="twitter-button" class="fa fa-twitter button" ></i></a>
    </div> {% endif %}

</div>

</header>

<div id="post-content" itemprop="articleBody">
{{ content }}
</div>
</article>
{% include footer.html %}
<script>
/* pad main content to height of page */
var headerHeight = document.getElementById("post-header").clientHeight;
console.log("header height = " + headerHeight);
document.getElementById("post-content").style.paddingTop = headerHeight + 15 + "px";
</script>


</body>

</html>
