<!DOCTYPE html>
<html>
{% include head.html %}

<body id="main-body">
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<header class="header-container">
<div id="header">
    <div id="post-back"><a href="{{ site.baseurl }}"><i class="fa fa-arrow-left back-button"></i></a></div>
    <div id="post-title"><h1 class="headline">{{ page.title }}</h1></div>
    <div id="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></div>
</div>
<div id="header-buttonbar">
    {% if page.twitter %} <div id="twitter-container"><a href="{{ page.twitter }}"><i id="twitter-button" class="fa fa-twitter button" aria-hidden="true"></i></a></div> {% endif %}
</div>
</header>

<div class="post-content" itemprop="articleBody">
{{ content }}
</div>

</article>
</body>

</html>
