<!DOCTYPE html>
<html>
{% include head.html %}

<body id="main-body">
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<header class="post-header">
<table><tr>
<td class="post-main">
<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
</td>
{% if page.twitter %}<td class="post-back"><a href="{{ page.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i>
</a></td>{% endif %}
<td class="post-back"><a href="{{ site.url }}"><i class="fa fa-arrow-left" aria-hidden="true"></i>
</a></td>
</tr></table>
</header>

<div class="post-content" itemprop="articleBody">
{{ content }}
</div>

</article>
</body>

</html>
