<!DOCTYPE html>
<html>
{% include head.html %}

<body id="main-body">
{% include site-ext.html %}

<div id="site-bloglist">
<div id="site-blogicon"><i class="fa fa-book" aria-hidden="true"></i></div>

<table id="bloglist">
{% for post in site.posts %}
<tr>
    <td valign="top" class="blogdate"><span class="site-blogmeta">{{ post.date | date: "%d.%m.%Y" }}</span></td>
    <td valign="top" class="blogref {%if post.draft %}blogref-draft{% endif %}">
{% if post.forward %}
    <a target="_blank" href="{{ post.forward }}"><i style="font-size: 80%" class="fa fa-external-link" aria-hidden="true"></i> {%if post.broken %}❌ {% endif %}{{ post.title }}</a>
{% else %}
    <a href="{{ post.url }}">{%if post.broken %}❌ {% endif %}{{ post.title }}</a></td>
{% endif %}
</tr>
{% endfor %}
</table>

</div>
<script>
{% include script.js %}
</script>
</body>

</html>
