<!DOCTYPE html>
<html>
{% include head.html %}

<body id="main-body">
<header id="site-header">

    <img id="site-logo" src="{{ " /res/gfx/favicon.png " }}" title="Icon made by popcic from www.flaticon.com (CC BY 3.0)" />
    <p>basti tee</p>
    <img id="site-avatar" src="/res/gfx/avatar.jpg" alt="Avatar" />

</header>

<div id="site-content">
    <p>human • mnmlst • devops • μsic<br />de_DE/en_US • estd. 1983 • @bonn_DE</p>

<p><i class="fa fa-envelope-o" aria-hidden="true"></i>  <a href="https://twitter.com/basti_tee">twitter</a> <a href="xmpp:basti@basti.space?otr-fingerprint=9636CDBCD078D92020842276E5CDFA6B507FB1DA">xmpp</a> <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#098;&#097;&#115;&#116;&#105;&#046;&#116;&#101;&#101;&#064;&#103;&#109;&#120;&#046;&#100;&#101;">email</a><br />
<i class="fa fa-code" aria-hidden="true"></i> <a href="https://github.com/bastitee">github</a> <a href="http://stackoverflow.com/users/2095363/basti-tee">stackoverflow</a><br />
<i class="fa fa-smile-o" aria-hidden="true"></i> <a href="https://open.spotify.com/user/basti_tee">spotify</a> <a href="https://www.chess.com/member/basti-tee">chess.com</a><br />
<i class="fa fa-rss" aria-hidden="true"></i> <a href="/feed.xml">rss</a></p>

</div>

<div id="site-bloglist">
<div id="site-blogicon"><i class="fa fa-book" aria-hidden="true"></i></div>
<ul >
{% for post in site.posts %}
<li>
<a class="site-bloglink" href="{{ post.url }}">{{ post.title }}</a><span class="site-blogmeta"> &#8226; {{ post.date | date: "%d.%m.%Y" }}</span><br/>
</li>
{% endfor %}
</ul>

</div>

</body>

</html>
